In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
csv_file = "NationalNames.csv"
main_df = pd.read_csv(csv_file)
main_df.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [15]:
baby_names_df = main_df.drop(main_df[(main_df.Year < 1994) | (main_df.Year > 2003)].index)
baby_names_df = baby_names_df.reset_index()
baby_names_df = baby_names_df.drop(['Id', 'index'], axis=1)
baby_names_df.head()

       Name  Year Gender  Count
0   Jessica  1994      F  32116
1    Ashley  1994      F  30277
2     Emily  1994      F  24148
3  Samantha  1994      F  22819
4     Sarah  1994      F  22275